.choresText {
   font-family: 'Courier New', Courier, monospace;
   color: orange;
   text-align: left;
   font-size: 2em;
   text-shadow: 1px 1px 2px black;
   font-style: italic;
}

.choresHeading {
   font-family: 'Courier New', Courier, monospace;
   color: orange;
   text-align: left;
   font-size: 3em;
   text-shadow: 1px 1px 2px black;
   text-decoration: underline;
}